{% extends 'layout.html' %}

{% block body %}

<div class="box-about">
  <h1>FAQ</h1>
  <p class="lead"></p>
  <p><b>What do we do?</b></br>We make getting your stats more accesible by grouping them in one place.</p>
  <p><b>Why should I make an account?</b></br>Creating an account sets up One Click stats which allows you to view your personal stats with one click of a button.</p>
  <p><b>Where is my profile?</b></br><a class='guide-link' href='/guide'>Follow our guide.</a> If this does not work, please contact <a class='guide-link' href='https://epicgames.helpshift.com/a/fortnite/'>Epic Support</a></p>
  <p><b>Can you remove my stats?</b></br>Mark your stats private in the in-game settings and we will no longer be able to access them.</a></p>
  <p><b>How can I add your discord bot?</b></br>Coming Soon...</a></p>
</div>

{% endblock %}
